@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Quicksand:wght@300;500;700&family=Roboto:ital,wght@0,100;0,500;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 52.5%;
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.4);
}

body {
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1587314363878-24041efee09c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1456&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.keys {
  position: relative;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: space-between;
}

.key {
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  margin: 4px;
  border-radius: 10px;
  background-color: rgba(0,0,0,.4);
  border: 4px solid black;
  transition: all 0.07s;
}

.key kbd {
  font-size: 4rem;
  font-family: 'Courier Prime', monospace;
  font-weight: bolder;
  color: white;
}

.key span {
  font-size: 1.2rem;
  font-weight: 700;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 3px;
  color: #ffc600;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}